<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <div>
                <h1 class="ui header" style="float: left">HTTP-Sniffer</h1>
                <form style="float:right" action="/project/{{ current_project['id'] }}/tools/http-sniffer/add" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="ui action input" style="float:right">
                        <input name="name" type="text" required maxlength="20" placeholder="Sniffer name">
                        <button type="submit" class="ui button blue"><i class="plus icon"></i>Add</button>
                    </div>
                </form>
            </div>
            <div class="ui divider" style="float:left; width: 100%"></div>
            <script>
                $(document)
                    .ready(function () {
                        $('.menu .item').tab({
                            history: true
                        });


                        $('#codes_list').dropdown();
                    });

                function delete_prompt(func, message) {
                    if (confirm(message))
                        return true;
                    return false;
                };

                function copy_url(element_id) {
                    /* Get the text field */
                    var copyText = document.getElementById(element_id);

                    /* Select the text field */
                    copyText.select();
                    copyText.setSelectionRange(0, 99999); /* For mobile devices */

                    /* Copy the text inside the text field */
                    document.execCommand("copy");

                    /* Alert the copied text */
                }

                function change_creds_param(obj){
                    form_elem = obj.parentElement.parentElement.parentElement;
                    check_elem = form_elem.querySelector('#save_credentials_input');

                    if (check_elem.value === "0"){
                        check_elem.value = "1";
                        obj.classList.remove("grey");
                        obj.classList.add("yellow");
                    } else {
                        check_elem.value = "0";
                        obj.classList.remove("yellow");
                        obj.classList.add("grey");
                    }
                }
            </script>


            <div class="ui container" style="width: 100%;height: 100%;float: left;">
                <div class="ui grid" style="height: 100%">
                    <div class="column" style="width: 200px; max-height: 550px; overflow: auto">
                        <div class="ui vertical fluid tabular menu" style="min-width: 120px;">
                            {% set sniffers = db.select_project_http_sniffers(current_project['id']) %}
                            {% for current_sniffer in sniffers %}
                                <a class="item" data-tab="sniffer_{{ current_sniffer['id'] }}">
                                    {{ escape(current_sniffer['name']) }}<i class="wifi icon"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column" style="max-height: 70vh; width: calc(100% - 200px);">
                        {% for current_sniffer in sniffers %}
                            <div class="ui tab" data-tab="sniffer_{{ current_sniffer['id'] }}" style="height:100%">
                                <div class="ui segment" style="margin-bottom:0px; background-color: lightblue;">
                                    <form action="/project/{{ current_project['id'] }}/tools/http-sniffer/{{ current_sniffer['id'] }}/delete" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <div class="ui labeled input" style="width:100%">
                                            <a class="ui label blue">
                                                Request URL:
                                            </a>
                                            <input type="text" id="sniffer_url_{{ current_sniffer['id'] }}" style="font-family: 'Courier New', monospace; font-weight: bolder" readonly value="http://127.0.0.1:5000/http_sniff/{{ current_sniffer['id'] }}/">
                                            <button type="button" onclick='copy_url("sniffer_url_{{ current_sniffer['id'] }}");' class="ui button blue" style="margin-left:15px;"><i class="copy icon"></i>Copy</button>
                                            <button type="submit" value="Delete" class="ui button red" style="margin-left:15px;"><i class="trash icon"></i>Delete</button>
                                        </div>
                                    </form>
                                    <form class="ui form" action="/project/{{ current_project['id'] }}/tools/http-sniffer/{{ current_sniffer['id'] }}/edit" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input type="hidden" id="save_credentials_input" name="save_credentials" value="{{ current_sniffer['save_credentials'] | int }}">
                                        <div class="four fields" style="margin-bottom:0px;">
                                            <div class="ui field">
                                                <label>Status code:</label>
                                                <select class="ui dropdown selection search" name="status" id="codes_list">
                                                    <option value="{{ current_sniffer['status'] }}">{{ current_sniffer['status'] }}</option>
                                                    <option value="200">200 - OK</option>
                                                    <option value="302">302 - Temporary Redirect</option>
                                                    <option value="301">301 - Permanent Redirect</option>
                                                    <option value="404">404 - Not Found</option>
                                                    <option value="410">410 - Gone</option>
                                                    <option value="500">410 - Internal Server Error</option>
                                                    <option value="503">503 - Service Unavailable</option>
                                                </select>
                                            </div>
                                            <div class="ui field">
                                                <label>Redirect URL:</label>
                                                <input type="text" name="location" placeholder="https://google.com/" value="{{ escape(current_sniffer['location']) }}">
                                            </div>
                                            <div class="ui field">
                                                <label>Page body:</label>
                                                <input type="text" name="body" placeholder="Strange body..." value="{{ escape(current_sniffer['body']) }}">
                                            </div>
                                            <div class="ui field">
                                                <button type="button" class="ui icon {% if current_sniffer['save_credentials'] %}yellow{% else %}grey{% endif %} button" onclick="change_creds_param(this)" title="Save sniffed credentials">
                                                    <i class="key icon"></i>
                                                </button>
                                                <button type="submit" name="submit" value="Update" class="ui button purple" style="margin-left:15px; margin-top:24px; padding-left: 10px; padding-right: 10px;"><i class="sync icon"></i>Update</button>
                                                <button type="submit" name="submit" value="Clear" class="ui button orange" style="margin-left:15px; margin-top:24px; padding-left: 10px; padding-right: 10px;"><i class="dont icon"></i>Clear</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% set sniffer_requests = db.select_http_sniffer_requests(current_sniffer['id']) %}
                                <div class="ui container" style="overflow: auto; width:100%; height:100%">
                                    {% for current_request in sniffer_requests[::-1] %}
                                        <div class="ui grid" style="width:100%;margin-left:0px;background-color:{% if loop.index % 2 %}#fffdc2{% else %}#c3ffcd{% endif %};">
                                            <div class="four wide column">
                                                <div class="ui field" style="margin-top:15px">
                                                    <div class="ui labeled input" style="width:100%">
                                                        <a class="ui label blue">
                                                            <i class="clock icon"></i>Time:
                                                        </a>
                                                        <input type="text" readonly value="{{ format_date(current_request['date']/1000, "%d.%m.%Y, %H:%M:%S") }}">
                                                    </div>
                                                </div>
                                                <div class="ui field" style="margin-top:15px">
                                                    <div class="ui labeled input" style="width:100%">
                                                        <a class="ui label blue" style="width:83px;">
                                                            <i class="globe icon"></i>IP:
                                                        </a>
                                                        <input type="text" readonly value="{{ current_request['ip'] }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="twelve wide column">
                                                <textarea rows="{{ len(current_request['request'].strip('\n\r').split('\n')) + 1 }}" readonly style="width:100%; resize: none; margin-top:15px;font-family: 'Courier New', monospace; font-weight: bolder">{{ current_request['request'].strip('\n\r') }}</textarea>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script>

        </script>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>