<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <script>
        $(function () {
            $('.ui.fluid.search.dropdown').dropdown({
                fullTextSearch: "exact"
            });
        });

        search_visibility = false;

        function swap_search() {
            if (!search_visibility) {
                document.getElementById("search_form").style.display = "block";
                document.getElementById("search_form").style["min-height"] = "116px";
                document.getElementById("hide_button").innerHTML = '<i class="angle double up icon"></i>Hide';
            } else {
                document.getElementById("search_form").style.display = "none";
                document.getElementById("search_form").style["min-height"] = "0px";
                document.getElementById("hide_button").innerHTML = '<i class="angle double down icon"></i>Show';
            }
            search_visibility = !search_visibility;
        };

        $(function () {
            $('#network_elem').change(function () {
                document.getElementById("network_elem_hidden").value = trimChar($(this).val().join(','), ',');
                console.log($(this).val());
            });
        });
        $(function () {
            $('#port_elem').change(function () {
                document.getElementById("port_elem_hidden").value = trimChar($(this).val().join(','), ',');
                console.log($(this).val());
            });
        });

        function trim_column(data, type, row) {
            console.log(data);
            return data.replace(/^\s+|\s+$/g, '').trim();
        };

        $(document).ready(function () {
            var table = $('#hosts_list').DataTable({
                "order": [[1, "asc"]],
                "iDisplayLength": 100,
                aLengthMenu: [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "All"]
                ],
                "aoColumns": [
                    {"sType": "integer"},
                    {
                        "sType": "integer",
                        render: trim_column
                    },
                    {
                        "sType": "string",
                        render: trim_column
                    },
                    {
                        "sType": "string",
                        render: trim_column
                    },
                    {
                        "sType": "string",
                        render: trim_column
                    },
                ],
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                }],
                "initComplete": function (settings, json) {
                    const button = document.createElement('button');
                    button.type = "submit";
                    button.name = "action";
                    button.style.marginLeft = "15px";
                    button.onclick = delete_hosts;
                    button.classList.value = "ui vertical animated button red";
                    button.tabIndex = "0";
                    button.innerHTML = `<div class="hidden content">Delete</div>
                                                <div class="visible content">
                                                <i class="trash icon"></i></div>`;
                    document.getElementById('hosts_list_length').appendChild(button);
                }
            });


            $('#hosts_list tbody').on('dblclick', 'td', function () {
                if (this.id !== 'checkbox_data') {
                    var url = this.parentElement['dataset']['href'];
                    var win = window.open(url, '_blank');
                }
            });

        });

        function view_results(path) {
            //network
            var network = document.getElementById("network_elem_hidden").value;

            //port
            var port = document.getElementById("port_elem_hidden").value;

            //ip_hostname
            var ip_hostname = encodeURIComponent(document.getElementById("ip_hostname").value);

            //service
            var service = encodeURIComponent(document.getElementById("service_elem").value);

            //issue
            var issue_name = encodeURIComponent(document.getElementById("issue_name").value);

            //comment
            var comment = encodeURIComponent(document.getElementById("comment_elem").value);

            var checked_str = '';
            if (document.getElementById('high_elem').checked) {
                checked_str += '&threats[]=high';
            }
            if (document.getElementById('medium_elem').checked) {
                checked_str += '&threats[]=medium';
            }
            if (document.getElementById('low_elem').checked) {
                checked_str += '&threats[]=low';
            }
            if (document.getElementById('info_elem').checked) {
                checked_str += '&threats[]=info';
            }
            if (document.getElementById('check_elem').checked) {
                checked_str += '&threats[]=check';
            }
            if (document.getElementById('checked_elem').checked) {
                checked_str += '&threats[]=checked';
            }
            if (document.getElementById('noscope_elem').checked) {
                checked_str += '&threats[]=noscope';
            }
            if (document.getElementById('recheck_elem').checked) {
                checked_str += '&threats[]=recheck';
            }
            if (document.getElementById('firewall_elem').checked) {
                checked_str += '&threats[]=firewall';
            }
            if (document.getElementById('offline_elem').checked) {
                checked_str += '&threats[]=offline';
            }
            if (document.getElementById('inwork_elem').checked) {
                checked_str += '&threats[]=inwork';
            }
            if (document.getElementById('scope_elem').checked) {
                checked_str += '&threats[]=scope';
            }
            if (document.getElementById('critical_elem').checked) {
                checked_str += '&threats[]=critical';
            }
            if (document.getElementById('slow_elem').checked) {
                checked_str += '&threats[]=slow';
            }


            let url = path + '?network=' + network + '&port=' + port + '&ip_hostname=' + ip_hostname + '&service=' + service + '&issue_name=' + issue_name + '&comment=' + comment + checked_str;
            let win = window.open(url, '_blank');
            win.focus();

        }

        function trimChar(string, charToRemove) {
            while (string.charAt(0) == charToRemove) {
                string = string.substring(1);
            }

            while (string.charAt(string.length - 1) == charToRemove) {
                string = string.substring(0, string.length - 1);
            }

            return string;
        }

        function delete_hosts() {
            //get host ids
            host_ids = [];
            checkboxes = document.querySelectorAll('[id=host_checkbox]');
            for (i = 0; i < checkboxes.length; i++) {
                curr_checkbox = checkboxes[i];
                if (curr_checkbox.checked) {
                    host_ids.push(curr_checkbox.parentElement.parentElement.attributes[0].value);
                }
            }
            if (!host_ids.length) {
                return null;
            }
            if (confirm('Delete ' + host_ids.length + ' hosts?')) {
                csrf = '{{ csrf_token() }}';
                data = ''
                for (i = 0; i < host_ids.length; i++) {
                    data += 'host-' + (i + 1) + '=' + host_ids[i] + '&'
                }
                data += 'csrf_token=' + csrf;
                $.ajax({
                    type: "POST",
                    url: '/project/{{ current_project['id'] }}/hosts/multiple_delete',
                    data: data,
                }).done(function (response) {
                    if (response === "ok") {
                        document.location.reload();
                    }
                });

            } else {
                // Do nothing!
                console.log('Thing was not saved to the database.');
            }
        }

        $(document).on("click", "#example-select-all", function (e) {
            checkboxes = document.querySelectorAll('[id=host_checkbox]');
            for (i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }

        });

    </script>
    <style>
        tr.odd {
            background-color: #fffdc2;
        }

        tr.even {
            background-color: #c3ffcd;
        }

        .dataTable tr:hover td {
            background-color: lightgrey;
        }

        .dataTable tr:hover tr > .sorting_1 {
            background-color: lightgrey;
        }

        #custom-clickable-row {
            cursor: pointer;
        }

        .ui.menu:last-child {
            margin-bottom: 0px;
        }
    </style>
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            {% set host_array = db.search_hostlist(project_id=current_project['id'],
                        network=request.args.get('network'), ip_hostname=request.args.get('ip_hostname'),
                        issue_name=request.args.get('issue_name'),
                        port=request.args.get('port'), service=request.args.get('service'),
                        comment=request.args.get('comment'), threats=request.args.getlist('threats[]') ) %}
            <h1 class="ui dividing header">Hosts: {{ len(host_array) }}</h1>
            <div class="ui container" style="width: 100%; float: left;">
                <form class="ui form" id="search_form" style="display: none; min-height: 0px;" method="get"
                      action="/project/{{ current_project['id'] }}/hosts/">
                    <div class="ui grid">
                        <div class="four wide column">
                            <input type="hidden" id="network_elem_hidden" name="network"
                                   {% if 'network' in request.args %}value="{{ escape(request.args.get('network')) }}"{% endif %}>
                            <div class="ui field">
                                <select id="network_elem" class="ui fluid search dropdown" multiple="">
                                    <option value="">Networks</option>
                                    {% set networks = db.select_project_networks(current_project['id']) %}
                                    {% for network in networks %}
                                        <option value="{{ network['id'] }}"
                                                {% if 'network' in request.args and network['id'] in request.args['network'] %}selected {% endif %}>{{ network['ip'] }}/{{ network['mask'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" id="port_elem_hidden" name="port"
                                   {% if 'port' in request.args and request.args['port'] %}value="{{ escape(request.args['port']) }}"{% endif %}>
                            <div class="ui field">
                                <select id="port_elem" class="ui fluid search dropdown" multiple="">
                                    <option value="">Ports</option>
                                    {% set port_arr = [] %}
                                    {% if 'port' in request.args and request.args['port'] %}
                                        {% set port_arr = request.args['port'].split(',') %}
                                    {% endif %}}
                                    {% set ports = db.select_project_ports_unique(current_project['id']) %}
                                    {% for port in ports %}
                                        {% if port['is_tcp'] %}
                                            {% set port_proto = 'tcp' %}
                                        {% else %}
                                            {% set port_proto = 'udp' %}
                                        {% endif %}
                                        {% set port_str = str(port['port']) + '/' + port_proto %}
                                        <option value="{{ port_str }}" {% if port_str in port_arr %}
                                                selected {% endif %}>{{ port_str }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" placeholder="ip / hostname" name="ip_hostname"
                                           id="ip_hostname"
                                            {% if 'ip_hostname' in request.args %}
                                           value="{{ escape(request.args['ip_hostname']) }}" {% endif %}>
                                    <i class="server icon"></i>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" name="service" placeholder="service1,service2"
                                           id="service_elem"
                                            {% if 'service' in request.args %}
                                           value="{{ escape(request.args['service']) }}" {% endif %}>
                                    <i class="fork icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" name="issue_name" placeholder="issue name or id" id="issue_name"
                                            {% if 'issue_name' in request.args %}
                                           value="{{ escape(request.args['issue_name']) }}" {% endif %}>
                                    <i class="bug icon"></i>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" placeholder="host comment" name="comment" id="comment_elem"
                                            {% if 'comment' in request.args %}
                                           value="{{ escape(request.args['comment']) }}" {% endif %} >
                                    <i class="comment icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column"
                             style="height: 116px; overflow: auto; padding-top: 0px; padding-bottom: 0px; margin-top:3px">
                            {% set threats = request.args.getlist('threats[]') %}
                            <div class="ui checkbox" style="margin-top: .5em;">
                                <input type="checkbox" id="high_elem" name="threats[]" value="high"
                                        {% if 'high' in threats %} checked {% endif %} >
                                <label><i class="warning circle red icon"></i>High</label>
                            </div>
                            <br/>
                            <div class="ui checkbox" style="margin-top: .5em;">
                                <input type="checkbox" id="medium_elem" name="threats[]" value="medium" {% if 'medium' in threats %}
                                       checked {% endif %}>
                                <label><i class="warning circle yellow icon"></i>Medium</label>
                            </div>
                            <br/>
                            <div class="ui checkbox" style="margin-top: .5em;">
                                <input type="checkbox" id="low_elem" name="threats[]" value="low" {% if 'low' in threats %}
                                       checked {% endif %}>
                                <label><i class="warning circle green icon"></i>Low</label>
                            </div>
                            <br/>
                            <div class="ui checkbox" style="margin-top: .5em;">
                                <input type="checkbox" id="info_elem" name="threats[]" value="info" {% if 'info' in threats %}
                                       checked {% endif %}>
                                <label><i class="warning circle blue icon"></i>Info</label>
                            </div>
                            <br/>
                            <div class="ui checkbox" style="margin-top: .5em;">
                                <input type="checkbox" id="check_elem" name="threats[]" value="check" {% if 'check' in threats %}
                                       checked {% endif %}>
                                <label><i class="help circle purple icon"></i>Need to check</label>
                            </div>
                            <br/>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="checked_elem" name="threats[]" value="checked" {% if 'checked' in threats %} checked {% endif %}>
                                <label><i class="flag red icon"></i>Checked</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="noscope_elem" name="threats[]" value="noscope" {% if 'noscope' in threats %} checked {% endif %}>
                                <label><i class="circle minus black icon"></i>Not in scope</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="recheck_elem" name="threats[]" value="recheck" {% if 'recheck' in threats %} checked {% endif %}>
                                <label><i class="clipboard list teal icon"></i>Need to recheck</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="firewall_elem" name="threats[]" value="firewall" {% if 'firewall' in threats %} checked {% endif %}>
                                <label><i class="shield blue icon"></i>Firewall enabled</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="offline_elem" name="threats[]" value="offline" {% if 'offline' in threats %} checked {% endif %}>
                                <label><i class="power off circle red icon"></i>Offline</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="inwork_elem" name="threats[]" value="inwork" {% if 'inwork' in threats %} checked {% endif %}>
                                <label><i class="sync alternate circle blue icon"></i>In work...</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="scope_elem" name="threats[]" value="scope" {% if 'scope' in threats %} checked {% endif %}>
                                <label><i class="crosshairs green icon"></i>In scope</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="critical_elem" name="threats[]" value="critical" {% if 'critical' in threats %} checked {% endif %}>
                                <label><i class="bomb orange icon"></i>Critical server</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em; width: 100%;">
                                <input type="checkbox" id="slow_elem" name="threats[]" value="slow" {% if 'noscope' in threats %} checked {% endif %}>
                                <label><i class="tachometer alternate pink icon"></i>Slow connection</label>
                            </div>
                        </div>
                        <div class="one wide column">
                            <div class="ui field">
                                <button class="ui button icon orange" style="margin-bottom: 5px;"
                                        onclick="view_results('../tools/exporter/');"><i class="share icon"></i>
                                </button>
                            </div>
                            <div class="ui field">
                                <button type="submit" value="Search" class="ui button icon blue"
                                        style="margin-bottom: 5px;"><i class="search icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                </form>
                <button class="ui button blue" id="hide_button" style="float:left;"
                        onclick="swap_search()">
                    <i class="angle double down icon"></i>Show
                </button>
                <a style="margin-left: 15px; float: right; margin-right: 28px;" class="ui vertical animated button blue" href="new_host">
                    <div class="hidden content">Add</div>
                    <div class="visible content">
                        <i class="plus icon"></i>
                    </div>
                </a>
                <a style="margin-left: 15px; width:100px; float: right;" class="ui vertical animated button purple" href="import_hosts">
                    <div class="hidden content">Multiple add</div>
                    <div class="visible content">
                        <i class="users icon"></i>
                    </div>
                </a>
            </div>
            <table id="hosts_list" class="ui table" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 20px;">
                        <div class="ui fitted big checkbox">
                            <input name="select_all" value="1" id="example-select-all" type="checkbox">
                            <label></label>
                        </div>
                    </th>
                    <th>ip-address</th>
                    <th>hostnames</th>
                    <th>comment</th>
                    <th style="width: 230px;">threats</th>
                </tr>
                </thead>
                <tbody>
                {% for host in host_array %}
                    {% if ':' not in host['ip'] %} {% set ip_array = host['ip'].split('.') %} {% endif %}
                    <tr id="host_row" class="custom-clickable-row"
                        data-href="/project/{{ current_project['id'] }}/host/{{ host['id'] }}/" title="Double click to open">
                        <td data-value="{{ host['id'] }}" id="checkbox_data">
                            <div class="ui fitted big checkbox">
                                <input type="checkbox" name="host_checkbox" id="host_checkbox">
                                <label></label>
                            </div>
                        </td>
                        <td {% if ':' not in host['ip'] %}data-order="{{ escape('{:0>3}{:0>3}{:0>3}{:0>3}'.format(ip_array[0],ip_array[1],ip_array[2],ip_array[3])) }}"{% endif %}>
                            <h4>{{ escape(host['ip']) }}</h4></td>
                        <td style="word-break: break-all;">
                            <h4>
                                <ul class="ui list">
                                    {% for hostname in db.select_ip_hostnames(host['id']) -%}
                                        <li>{{ escape(hostname['hostname']) }}</li>
                                    {% endfor -%}
                                </ul>
                            </h4>
                        </td>
                        <td>
                            <h4 style="word-break: break-all; white-space: pre-line">{% if 'mac' in host['os'].lower() -%}<i class="apple big icon"></i>{% elif 'win' in host['os'].lower() -%}<i class="windows blue big icon"></i>{% elif 'lin' in host['os'].lower() %}<i class="linux very big black icon"></i>{% endif -%}{{ escape(host['comment']) }}</h4>
                        </td>
                        <td>
                            {% set threats = json_unpack(host['threats']) %}
                            {% if 'high' in threats %}
                                <i class="warning circle red big icon"></i>
                            {% endif %}
                            {% if 'medium' in threats %}
                                <i class="warning circle yellow big icon"></i>
                            {% endif %}
                            {% if 'low' in threats %}
                                <i class="warning circle green big icon"></i>
                            {% endif %}
                            {% if 'info' in threats %}
                                <i class="warning circle blue big icon"></i>
                            {% endif %}
                            {% if 'check' in threats %}
                                <i class="help circle purple big icon"></i>
                            {% endif %}
                            {% if 'checked' in threats %}
                                <i class="flag red big icon"></i>
                            {% endif %}
                            {% if 'recheck' in threats %}
                                <i class="clipboard list teal big icon"></i>
                            {% endif %}
                            {% if 'firewall' in threats %}
                                <i class="shield blue big icon"></i>
                            {% endif %}
                            {% if 'offline' in threats %}
                                <i class="power off circle red big icon"></i>
                            {% endif %}
                            {% if 'inwork' in threats %}
                                <i class="sync alternate circle blue big icon"></i>
                            {% endif %}
                            {% if 'scope' in threats %}
                                <i class="crosshairs green big icon"></i>
                            {% endif %}
                            {% if 'critical' in threats %}
                                <i class="bomb orange big icon"></i>
                            {% endif %}
                            {% if 'noscope' in threats %}
                                <i class="circle minus black big icon"></i>
                            {% endif %}
                            {% if 'slow' in threats %}
                                <i class="tachometer alternate pink big icon"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>
