<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        {% set networks=db.select_project_networks(current_project['id']) %}
        <script>
            $(document).ready(function () {
                $('.menu .item')
                    .tab({
                        history: true
                    });
                $('#example').DataTable({
                    'columnDefs': [{
                        'targets': 6,
                        'searchable': false,
                        'orderable': false,
                    }]
                });
            });
        </script>
        <style>
            tbody tr.odd {
                background-color: #fffdc2;
            }

            tbody tr.even {
                background-color: #c3ffcd;
            }

            .ui.menu:last-child {
                margin-bottom: 0px;
            }

            td {
                vertical-align: top;
            }

        </style>
        <div class="ui column" style="width: calc(100% - 75px)">
            <div class="ui top attached tabular menu">
                <div class="active item" data-tab="list"><i class="list icon"></i>Networks list</div>
                <div class="item" data-tab="graph"><i class="share alternate icon"></i>Networks graph</div>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="list">
                <div style="float:left; width: 100%">
                    <h1 class="ui header" style="float: left;">Networks: {{ len(networks) }}</h1>
                    <a class="ui button purple" style="float: right"
                       href="/project/{{ current_project['id'] }}/networks/new_network"><i class="plus icon"></i>Add</a>
                </div>
                <table id="example" class="ui table" width="100%;">
                    <thead>
                    <tr>
                        <th>Network</th>
                        <th>Access from</th>
                        <th>Internal IP</th>
                        <th>Connect command</th>
                        <th>Comment</th>
                        <th>ASN</th>
                        <th style="width: 90px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for network in networks %}
                        <tr>
                            <td style="word-break: break-all;">
                                {{ escape(network['ip']) }}/{{ escape(network['mask']) }}
                            </td>
                            <td style="word-break: break-all;">
                                {% set addresses = json_unpack(network['access_from']) %}
                                {% set counter = [0] %}
                                {% for port_id in addresses %}
                                    {% set port = db.select_port(port_id)[0] %}
                                    {% for host in addresses[port_id] %}
                                        <ul class="ui list">
                                            {% if counter[0] < 5 %}
                                                {% if host=="0" %}
                                                    {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                    <li>
                                                        <a href="/project/{{ current_project['id'] }}/host/{{ port['host_id'] }}/">{{ escape(ip['ip']) }}{% if port['port'] != 0 %}:{{ escape(port['port']) }}{% endif %}</a>
                                                    </li>
                                                {% else %}
                                                    {% set hostname = db.select_hostname(host)[0] %}
                                                    <li>
                                                        <a href="/project/{{ current_project['id'] }}/host/{{ hostname['host_id'] }}/">{{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:{{ escape(port['port']) }}{% endif %}</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                            {% if counter.append(counter.pop() + 1) %}{% endif %}
                                        </ul>
                                    {% endfor %}
                                {% endfor %}
                                {% if counter[0] >5 %}
                                    ...<br/>
                                    {{ counter[0] }} hosts at all!
                                {% endif %}
                            </td>
                            <td style="word-break: break-all;">
                                {{ escape(network['internal_ip']) }}
                            </td>
                            <td style="word-break: break-all; white-space: pre-line;">{{ escape(network['cmd']) }}</td>
                            <td style="word-break: break-all;white-space: pre-line;">{{ escape(network['comment']) }}</td>
                            <td style="word-break: break-all;">
                                {% if network['asn'] != 0 and network['asn'] != None %}
                                    ASN{{ escape(network['asn']) }} <a
                                        href="https://ipinfo.io/AS{{ network['asn'] }}" target="_blank" rel="noopener noreferrer">(ipinfo)</a> <a
                                        href="https://bgp.he.net/AS{{ network['asn'] }}" target="_blank" rel="noopener noreferrer">(bgp)</a>
                                {% endif %}
                            </td>
                            <td style="float:left;">
                                <a class="ui icon blue button"
                                   href="/project/{{ current_project['id'] }}/hosts/?network={{ network['id'] }}">
                                    <i class="ui search icon"></i>
                                </a>

                                <a class="ui icon purple button"
                                   href="/project/{{ current_project['id'] }}/networks/{{ network['id'] }}/">
                                    <i class="ui edit outline icon"></i></a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="ui bottom attached tab segment" data-tab="graph">
                {% if external_js %}
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
                {% else %}
                    <script type="text/javascript" src="/static/js/vis-network.min.js"></script>
                {% endif %}
                <div class="div-block-6" style="height:100%">
                    <script type="text/javascript">
                        var nodes = null;
                        var edges = null;
                        var network = null;

                        var hosts_arr = [];

                        {% set json_obj = db.select_hosts_json(current_project['id']) %}
                        var hosts_arr = {{ json_obj[0] | safe }};

                        var networks_arr = [];

                        var networks_arr = {{ json_obj[1] | safe }};

                        var network_global = {"id": -1, "network": "0.0.0.0", "mask": 0, "description": "global"}

                        function gen_name(host_obj) {
                            let name = host_obj["ip"];
                            if (host_obj["threads"].length) {
                                name += "\n";
                            }
                            counter = 0;
                            for (var i = 0; i < host_obj["threads"].length; i++) {
                                if (host_obj["threads"][i] === "check") {
                                    name += "❔";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "checked") {
                                    name += "🚩";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "info") {
                                    name += "🔵";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "low") {
                                    name += "🟢";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "medium") {
                                    name += "🟠";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "high") {
                                    name += "🔴";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "scope") {
                                    name += "🎯";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "firewall") {
                                    name += "🛡️";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "inwork") {
                                    name += "🔄";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "critical") {
                                    name += "💣";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "slow") {
                                    name += "🐌";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "recheck") {
                                    name += "📝";
                                    counter +=1;
                                } else if (host_obj["threads"][i] === "noscope") {
                                    name += "⛔";
                                    counter +=1;
                                }

                                if (counter === 4){
                                    name += '\n';
                                    counter = 0;
                                }
                            }
                            return name;
                        }

                        function get_picture(os_system) {
                            if (os_system === null) {
                                return '/static/images/server.png'
                            } else if (os_system.toLowerCase().includes('windows')) {
                                return '/static/images/windows.png'
                            } else if (os_system.toLowerCase().includes('mac')) {
                                return '/static/images/macos.png'
                            } else if (os_system.toLowerCase().includes('linux')) {
                                return '/static/images/linux.png'
                            } else {
                                return '/static/images/no_os.png'
                            }
                        }

                        var DIR = "/static/images/";
                        var EDGE_LENGTH_MAIN = 350;
                        var EDGE_LENGTH_SUB = 50;

                        // Called when the Visualization API is loaded.
                        function draw() {
                            // Create a data table with nodes.
                            nodes = [];

                            function IPnumber(IPaddress) {
                                var ip = IPaddress.match(/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/);
                                if (ip) {
                                    return (+ip[1] << 24) + (+ip[2] << 16) + (+ip[3] << 8) + (+ip[4]);
                                }
                                return null;
                            }

                            function IPmask(maskSize) {
                                return -1 << (32 - maskSize)
                            }

                            // Create a data table with links.
                            edges = [];
                            var hosts_len = hosts_arr.length;
                            for (var i = 0; i < hosts_len; i++) {
                                nodes.push({
                                    id: hosts_arr[i]["id"],
                                    label: gen_name(hosts_arr[i]),
                                    image: get_picture(hosts_arr[i]["os"]),
                                    shape: "image"
                                });
                            }

                            var networks_len = networks_arr.length;
                            for (var i = 0; i < networks_len; i++) {
                                nodes.push({
                                    id: networks_arr[i]["id"],
                                    label: networks_arr[i]["network"] + "/" + networks_arr[i]["mask"],
                                    image: get_picture(null),
                                    shape: "image"
                                });
                            }

                            nodes.push({
                                id: network_global["id"],
                                label: network_global["network"] + "/" + network_global["mask"],
                                image: get_picture(null),
                                shape: "image"
                            });

                            for (var x = 0; x < hosts_len; x++) {
                                let found = 0;
                                for (var i = 0; i < networks_len; i++) {
                                    if ((IPnumber(hosts_arr[x]["ip"]) & IPmask(networks_arr[i]["mask"].toString())) == (IPnumber(networks_arr[i]["network"]) & IPmask(networks_arr[i]["mask"].toString()))) {
                                        edges.push({
                                            from: hosts_arr[x]["id"],
                                            to: networks_arr[i]["id"],
                                            length: EDGE_LENGTH_MAIN
                                        });
                                        found = 1;
                                    }
                                }
                                if (!found) {
                                    edges.push({
                                        from: hosts_arr[x]["id"],
                                        to: network_global["id"],
                                        length: EDGE_LENGTH_MAIN
                                    });
                                }
                            }


                            // create a network
                            var container = document.getElementById("mynetwork");
                            var data = {
                                nodes: nodes,
                                edges: edges,
                            };
                            var options = {};
                            network = new vis.Network(container, data, options);
                        }
                    </script>
                    <div id="mynetwork" style="height: 80vh"></div>
                    <script>draw();</script>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>